body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 18px;
}

p {
    color: #2e2e2e;
    font-size: 16px;
    line-height: 1.4;
}

h1 {
    color: #2e2e2e;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    color: #6e4f32;
    font-size: 26px;
    font-weight: bold;
}

.projects-title h2 {
    text-align: center;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    width: 300px;
    padding: 20px 10px;
    background: white;
    border-radius: 12px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* space between top and bottom */
    height: 480px; /* set a consistent height of the cards */
}

.project h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #2e2e2e;
    font-weight: bold;
}

.project p {
    margin-top: auto; /*pushes text to bottom*/
    font-size: 18px;
    color: #3a3a3a;
}

.project img {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 12px auto;
    border-radius: 10px;

    flex-shrink: 0; /* keep the image centered but not stretching*/
}
