body{
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 18px;
}

p{
    color: #2e2e2e;
    font: 14px 'Arial', sans-serif;
}
h1{
    color: #2e2e2e;
    text-align: center;
    accent-color: #4a90e2;
    font: bold 36px 'Arial', sans-serif;
}
h2{
    color:#6e4f32;
    font: bold 24px 'Arial', sans-serif;
}